<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>amigui</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
  <div class="container">
    <h1>amigui</h1>
    <div class="chat-box">
      <div class="messages"></div>
      <form id="chat-form">
        <input type="text" id="user-input" placeholder="Escribe tu mensaje...">
        <button type="submit" id="send-button">Enviar</button>
      </form>
    </div>
  </div>

  <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>